/* ----**** Lib *****---- */
/* ----**** Variables *****---- */
/* Colors */
/* Fonts */
/* ----**** Mixins *****---- */
/* ----**** Layout *****---- */
html, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----**** Body *****---- */
body.body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}

/* ----**** Main *****---- */
main.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ----**** Header *****---- */
header.header {
  height: 100vh;
  background-image: url(/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* ----**** Section *****---- */
section.main-info {
  margin-top: 90px;
  margin-bottom: 90px;
  width: 100vw;
  padding: 0 30px;
}

/* ----**** Div *****---- */
div.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

div.header__container--logo {
  position: absolute;
  left: 25px;
}

div.our-creations-container-cards {
  margin: 0 30px;
  margin-bottom: 30px;
}

div.cards {
  min-height: 117px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

div.our-creations-container-cards__card1 {
  background: url(/images/mobile/image-deep-earth.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card2 {
  background: url(/images/mobile/image-night-arcade.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card3 {
  background: url(/images/mobile/image-soccer-team.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card4 {
  background: url(/images/mobile/image-grid.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card5 {
  background: url(/images/mobile/image-from-above.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card6 {
  background: url(/images/mobile/image-pocket-borealis.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card7 {
  background: url(/images/mobile/image-curiosity.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations-container-cards__card8 {
  background: url(/images/mobile/image-fisheye.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.our-creations__btn {
  text-align: center;
  margin-bottom: 80px;
}

/* ----**** Footer *****---- */
/* ----**** Components *****---- */
/* ----**** Title *****---- */
h1.main__title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  border: 3px solid #FFF;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}

h2.main-info__info-container--title {
  margin-top: 45px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  opacity: 0.7;
}

h2.our-creations-container-cta__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #696969;
  text-align: center;
  margin-bottom: 50px;
}

h3.our-creations-container-cards__card1--title {
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
  width: 40%;
}

h3.card-title-4 {
  width: 30%;
}

/* ----**** Nav *****---- */
details.header__details {
  position: absolute;
  right: 30px;
}

/* ----**** List *****---- */
/* ----**** Anchor *****---- */
a.nav-list__link {
  text-decoration: none;
}

/* ----**** Pgraphs *****---- */
p.main-info__info-container--pgraph {
  padding: 0 30px;
  text-align: center;
  color: #696969;
  line-height: 25px;
}

/* ----**** Button *****---- */
button.our-creations__btn--button {
  padding: 10px 40px;
  background: transparent;
  border: 2px solid #8c8c8c;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

/* ----**** Form *****---- */
/* ----**** Image *****---- */
img.main-info__image-container--image {
  width: 100%;
}

/* ----**** media queries  *****---- */